@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Poppins";
  background-color: #15151e;
}

.navlist {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem;
  margin: 0;
  color: #fff;
  background-color: #15151e;
}

.navlist li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0.5rem;
}

.navlist li a {
  color: #fff;
  text-decoration: none;
}

.navlist li a:visited {
  color: #fff;
}

.navlist li.active a {
  color: #ed81a8;
}

.navlist li:first-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: left;
}

.main-container {
  padding: 1rem;
}

.main-container .page-subtitle {
  margin: 1.5rem 0;
}

.main-container .page-title {
  margin: 1rem 0;
}

.main-container p {
  color: #bdbdbd;
  font-size: 1rem;
}

.main-container a {
  color: #fff;
  text-decoration: none;
}

.main-container a:visited {
  color: #fff;
}

.main-container a.adoption-link {
  display: block;
  text-align: center;
  border: solid 1px #ed81a8;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.main-container a.adoption-link:hover {
  background-color: #ed81a8;
}

.pet-image {
  border-radius: 5px;
}

.pet-image.center {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.upper-container {
  background-image: url("../images/main-page-dog-mobile.jpg");
  height: 50vh;
  background-size: cover;
  background-position: top center;
}

.opacity-layer {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.page-title {
  color: #fff;
}

.center-title {
  text-align: center;
}

.accent-title {
  color: #ed81a8 !important;
}

.page-subtitle {
  color: #fff;
  font-size: 1.25rem;
}

.lower-container {
  padding: 1em;
  height: 50vh;
}

.lower-container p {
  color: #bdbdbd;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.lower-container .main-page-subtitle {
  color: #ed81a8;
}

.search-container input,
.search-container button {
  width: 100%;
  font-family: inherit;
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.search-container input {
  padding: 0.25rem;
}

.search-container button {
  border: none;
  color: white;
  background-color: #ed81a8;
  padding: 0.25rem;
}

.search-result-list {
  list-style-type: none;
}

.search-result-list li {
  background-color: #575d6c;
  margin-bottom: 1rem;
  padding: 1rem;
}

.search-result-list li .adoption-link {
  background-color: #ed81a8;
  color: #15151e;
  margin: 0 auto;
}

.search-result-list li .pet-name {
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.search-result-list li .pet-subtitle {
  color: #fff;
  text-align: center;
  margin: 1rem;
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */