@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:root {
  --navlist-bg-color: white;

  --text-color: #5d5a86;
  --hero-bg-color-mobile: #333;
  --main-hero-text-color: white;

  --search-form-bg-color: #4c78bf;
  --search-form-border-color: #5584db;
  --search-button-bg-color: #1f314f;
  --search-button-border-color: #667184;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  font-size: 16px;
  margin: 0;
}

p {
  color: var(--text-color);
  font-size: 1rem;
}

.navlist {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--navlist-bg-color);
}

.navlist li {
  color: var(--text-color);
  margin: 0 1rem;
  flex: 1;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
}

.navlist li:first-child {
  text-align: left;
  flex: 4;
}

.main-page-hero {
  height: 500px;
  background-image: url("../images/bigdog.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 1rem;
}

.main-page-hero h1,
.main-page-hero h2 {
  color: var(--main-hero-text-color);
  margin: 0;
}

.main-page-hero h1 {
  font-size: 3rem;
}
.main-page-hero h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.main-page-container {
  /* width: 55%; */
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
}

.search-form-container {
  border: solid 1px var(--search-form-border-color);
  background-color: var(--search-form-bg-color);
  /* height: 10rem; */
  margin-top: -6rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 1rem 2rem;
  box-shadow: 0 5px 20px 0 #868686;
  font-size: 1.5rem;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

input {
  display: block;
  width: 100%;
  margin: 1rem auto 0 auto;
  padding: 0.5rem;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.search-form-button {
  color: white;
  background-color: var(--search-button-bg-color);
  border: solid 1px var(--search-button-border-color);
  padding: 0.5rem 4rem;
  margin: 1rem auto;
}

.search-form-button:hover {
  background-color: #303b4e;
}
@media (max-width: 1200px) {
  .main-page-container {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .main-page-container {
    width: 100%;
    padding: 1rem;
  }
  .main-page-hero {
    height: auto;
    margin-bottom: 0;
    background-color: var(--hero-bg-color-mobile);
    background-image: none;
  }

  .search-form-container {
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .button-container {
    display: block;
  }

  .search-form-button {
    width: 100%;
  }
}
